<article class="article">
    <header>
        <figure>
            <img src="/static/ui/img/news-1.jpg" alt="" />
            <noscript><img src="/static/ui/img/news-1.jpg"/></noscript>
            <figcaption>- 记2017年5月20日</figcaption>
        </figure>

        <div class="meta-data">
            <h3><a href="#">Default Post</a></h3>

            <p class="author">
                <time datetime="2015-08-07">November 17th, 2015</time>
            </p>

            <div class="socbtn">
                <span class="share"><i class="icon-share"></i></span>
                <div class="popup">
                    <a class="share--googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                    <a class="share--twitter" href="#"><i class="icon-twitter-circled"></i></a>
                    <a class="share--facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="entry-content" id="info">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

        <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project. All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size just means <code>50px</code>.</p>

        <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain, whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code> class.</p>

        <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.</p>

        <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>



    </div>

    <footer>
        <ul class="tags">
            <li><a href="#" class="tag">HTML</a></li>
            <li><a href="#" class="tag">CSS</a></li>
            <li><a href="#" class="tag">JavaScript</a></li>
            <li><a href="#" class="tag">Sketch 3</a></li>
            <li><a href="#" class="tag">Kirby</a></li>
        </ul>



    </footer>
</article>

<article class="article">
    <header>

        <div class="quote">
            <p class="line-through"><span><a href="#">Quote Custom Post</a></span></p>
            <div class="stripe-border">
                <blockquote>
                    <p>&ldquo;If you can’t explain it simply, you don’t understand it well enough.&rdquo; </p>
                </blockquote>
            </div>
            <cite class="line-through"><span>Albert Einstein</span></cite>
        </div>

        <div class="meta-data">
            <p class="author">
                <time datetime="2015-08-07">November 5th, 2015</time>
            </p>
            <div class="socbtn">
                <span class="share"><i class="icon-share"></i></span>
                <div class="popup">
                    <a class="share--googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                    <a class="share--twitter" href="#"><i class="icon-twitter-circled"></i></a>
                    <a class="share--facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="entry-content" id="info">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

        <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project. All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size just means <code>50px</code>.</p>

        <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain, whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code> class.</p>

        <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.</p>

        <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

    </div>

    <footer>
        <ul class="tags">
            <li><a href="#" class="tag">Albert</a></li>
            <li><a href="#" class="tag">Science</a></li>
            <li><a href="#" class="tag">Minimal</a></li>
            <li><a href="#" class="tag">Kirby</a></li>
        </ul>
    </footer>
</article>

<article class="article">
    <header>

        <div class="video-item">
            <a class="swipebox-video" rel="vimeo" href="https://www.youtube.com/watch?v=vt79JcPfZQA">

                <div class="block-blur"></div>
                <div class="mask">
                    <figure>
                        <img  src="/static/ui/img/news-2.jpg"/>
                        <noscript><img src="/static/ui/img/news-2.jpg"/></noscript>
                        <div class="icon">
                            <svg width="64" height="64" viewBox="0 0 510 510" fill="#fff">
                                <path d="M204 369.75L357 255 204 140.25v229.5zM255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm0 459c-112.2 0-204-91.8-204-204S142.8 51 255 51s204 91.8 204 204-91.8 204-204 204z"/>
                            </svg>
                        </div>
                    </figure>
                </div>
            </a>
        </div>

        <div class="meta-data">
            <h3><a href="#">Youtube Video Custom Post</a></h3>

            <p class="author">
                <time datetime="2015-08-07">October 21th, 2015</time>
            </p>

            <div class="socbtn">
                <span class="share"><i class="icon-share"></i></span>
                <div class="popup">
                    <a class="share--googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                    <a class="share--twitter" href="#"><i class="icon-twitter-circled"></i></a>
                    <a class="share--facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="entry-content" id="info">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

        <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project. All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size just means <code>50px</code>.</p>

        <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain, whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code> class.</p>

        <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.</p>

        <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

    </div>

    <footer>
        <ul class="tags">
            <li><a href="#" class="tag">Video</a></li>
            <li><a href="#" class="tag">Software</a></li>
            <li><a href="#" class="tag">Engineer</a></li>
            <li><a href="#" class="tag">Kirby</a></li>
        </ul>
    </footer>
</article>

<article class="article">
    <header>

        <div class="gallery">
            <div class="img_box blur pic">
                <a rel="gallery-1" href="/static/ui/img/news-4.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-1.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-1.jpg"/></noscript>
                </a>
            </div>
            <div class="img_box blur">
                <a rel="gallery-1" href="/static/ui/img/news-5.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-2.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-2.jpg"/></noscript>
                </a>
            </div>
            <div class="img_box blur">
                <a rel="gallery-1" href="/static/ui/img/news-6.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-3.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-3.jpg"/></noscript>
                </a>
            </div>
            <div class="img_box blur">
                <a rel="gallery-1" href="/static/ui/img/news-7.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-4.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-4.jpg"/></noscript>
                </a>
            </div>
            <div class="img_box blur">
                <a rel="gallery-1" href="/static/ui/img/news-8.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-5.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-5.jpg"/></noscript>
                </a>
            </div>
            <div class="img_box blur">
                <a rel="gallery-1" href="/static/ui/img/news-9.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-6.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-6.jpg"/></noscript>
                </a>
            </div>
            <div class="img_box blur">
                <a rel="gallery-1" href="/static/ui/img/news-10.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-7.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-7.jpg"/></noscript>
                </a>
            </div>
            <div class="img_box blur">
                <a rel="gallery-1" href="/static/ui/img/news-11.jpg" class="swipebox-gallery">
                    <img src="/static/ui/img/thumb-8.jpg" alt="image">
                    <noscript><img src="/static/ui/img/thumb-8.jpg"/></noscript>
                </a>
            </div>
        </div>
        <div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >建站模板</a></div>

        <div class="meta-data">
            <h3><a href="#">Gallery Custom Post</a></h3>

            <p class="author">
                <time datetime="2015-08-07">October 9th, 2015</time>
            </p>

            <div class="socbtn">
                <span class="share"><i class="icon-share"></i></span>
                <div class="popup">
                    <a class="share--googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                    <a class="share--twitter" href="#"><i class="icon-twitter-circled"></i></a>
                    <a class="share--facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="entry-content" id="info">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

        <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project. All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size just means <code>50px</code>.</p>

        <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain, whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code> class.</p>

        <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.</p>

        <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

    </div>

    <footer>
        <ul class="tags">
            <li><a href="#" class="tag">Gallery</a></li>
            <li><a href="#" class="tag">Travel</a></li>
            <li><a href="#" class="tag">Photography</a></li>
            <li><a href="#" class="tag">Kirby</a></li>
        </ul>
    </footer>
</article>

<article class="article">
    <header>

        <div class="video-item">
            <a class="swipebox-video" rel="vimeo" href="https://vimeo.com/139414914">

                <div class="block-blur"></div>
                <div class="mask">
                    <figure>
                        <img  src="/static/ui/img/news-3.jpg"/>
                        <noscript><img src="/static/ui/img/news-3.jpg"/></noscript>
                        <div class="icon">
                            <svg width="64" height="64" viewBox="0 0 510 510" fill="#fff">
                                <path d="M204 369.75L357 255 204 140.25v229.5zM255 0C114.75 0 0 114.75 0 255s114.75 255 255 255 255-114.75 255-255S395.25 0 255 0zm0 459c-112.2 0-204-91.8-204-204S142.8 51 255 51s204 91.8 204 204-91.8 204-204 204z"/>
                            </svg>
                        </div>
                    </figure>
                </div>
            </a>
        </div>

        <div class="meta-data">
            <h3><a href="#">Vimeo Video Custom Post</a></h3>

            <p class="author">
                <time datetime="2015-08-07">September 7th, 2015</time>
            </p>

            <div class="socbtn">
                <span class="share"><i class="icon-share"></i></span>
                <div class="popup">
                    <a class="share--googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                    <a class="share--twitter" href="#"><i class="icon-twitter-circled"></i></a>
                    <a class="share--facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                </div>
            </div>
        </div>


    </header>

    <div class="entry-content" id="info">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate eros ac posuere efficitur. Nunc bibendum cursus convallis. Praesent aliquam gravida lacus, a pharetra lorem dignissim ac. Vivamus at elit quam. Proin eu libero vel dolor bibendum lacinia.</p>

        <p>Type is all set with the <code>rems</code>, so font-sizes and spacial relationships can be responsively sized based on a single <code>&lt;html&gt;</code> font-size property. Out of the box, Skeleton never changes the <code>&lt;html&gt;</code> font-size, but it's there in case you need it for your project. All measurements are still base 10 though so, an <code>&lt;h1&gt;</code> with <code>5.0rem</code>font-size just means <code>50px</code>.</p>

        <p>Buttons come in two basic flavors in Skeleton. The standard <code>&lt;button&gt;</code> element is plain, whereas the <code>.button-primary</code> button is vibrant and prominent. Button styles are applied to a number of appropriate form elements, but can also be arbitrarily attached to anchors with a <code>.button</code> class.</p>

        <p>Code styling is kept basic – just wrap anything in a <code>&lt;code&gt;</code> and it will appear like <code>this</code>. For blocks of code, wrap a <code>&lt;code&gt;</code> with a <code>&lt;pre&gt;</code>.</p>

        <p>Paragraph with <strong>bold</strong>, <i>italic</i> and <a href="#">link</a> styles.</p>

    </div>

    <footer>
        <ul class="tags">
            <li><a href="#" class="tag">Video</a></li>
            <li><a href="#" class="tag">Software</a></li>
            <li><a href="#" class="tag">Engineer</a></li>
            <li><a href="#" class="tag">Kirby</a></li>
        </ul>
    </footer>
</article>

